body {
  font: normal 12pt Georgia;
}


div.time-button {
  width: 20em;
  margin: 1em;
  border: 1px solid rgba(0,0,0, 0.65);
  background-color: #3399ff;
  box-shadow: 1px 0px 6px 0px rgba(50, 50, 50, 0.75);
  padding: 1em;
  cursor: pointer;
}